{% extends "views/auth/auth.master.twig" %}

{% block authForm %}
    {{ C.Html.errorSummary(model,
                '<div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>',
                '</div>'
            )
    }}
    {% set form = this.beginWidget(
        'CActiveForm',
        {
            'id' : 'register-form',
            'enableClientValidation' : true,
            'enableAjaxValidation' : false,
            'clientOptions' : {
                'validateOnSubmit' : true
            },
            'htmlOptions' : {
                'class' : 'well form-horizontal'
            },
            'method' : 'post',
            'action' : C.Html.normalizeUrl(
                ['register']
            ),
            'errorMessageCssClass' : 'error'
        }
    )
    %}
        <fieldset>
            <legend>Регистрация
                <a href="{{ this.createUrl("site/index") }}" class="btn form-header-right">На главную
                    <i class="icon-arrow-right"></i>
                </a>
            </legend>

            {% set div = this.beginWidget(
                    'EntityFxDivControlGroup',
                    {
                        'class' : 'control-group',
                        'form' : form,
                        'model' : model,
                        'attribute' : 'email'
                    }
                )
            %}
                {{ form.label(model,'email',{'class' : 'control-label input-mini'}) }}
                <div class="controls">
                    {{ form.textField(model,'email',{'class' : 'input-large'}) }}
                    <span class="help-inline required">*</span>
                    {{ form.error(model,'email',{'class' : 'help-inline error'}) }}
                </div>
            {% do this.endWidget() %}

            {% set div = this.beginWidget(
                    'EntityFxDivControlGroup',
                    {
                        'class' : 'control-group',
                        'form' : form,
                        'model' : model,
                        'attribute' : 'password'
                    }
                )
            %}
                {{ form.label(model,'password',{'class' : 'control-label input-mini'}) }}
                <div class="controls">
                    {{ form.passwordField(model,'password',{'class' : 'input-large'}) }}
                    <span class="help-inline required">*</span>
                    {{ form.error(model,'password',{'class' : 'help-inline'}) }}
                    <p class="help-block">Длина пароля не менее 7 символов</p>
                </div>
            {% do this.endWidget() %}

            {% set div = this.beginWidget(
                    'EntityFxDivControlGroup',
                    {
                        'class' : 'control-group',
                        'form' : form,
                        'model' : model,
                        'attribute' : 'commitPassword'
                    }
                )
            %}
                {{ form.label(model,'commitPassword',{'class' : 'control-label input-mini'}) }}
                <div class="controls">
                    {{ form.passwordField(model,'commitPassword',{'class' : 'input-large'}) }}
                    <span class="help-inline required">*</span>
                    {{ form.error(model,'commitPassword',{'class' : 'help-inline'}) }}
                </div>
            {% do this.endWidget() %}

            {% set div = this.beginWidget(
                    'EntityFxDivControlGroup',
                    {
                        'class' : 'control-group',
                        'form' : form,
                        'model' : model,
                        'attribute' : 'commitPassword'
                    }
                )
            %}
                <label class="control-label input-mini">CAPTCHA</label>
                
                <div class="controls">
                    {% do this.widget(
                        'CCaptcha',
                        {
                            'clickableImage' : true,
                            'buttonType' : 'button',
                            'buttonLabel' : 'Обновить',
                            'buttonOptions' :
                            {
                                'class' : 'btn btn-inverse'
                            }
                        })
                    %}
                </div>
            {% do this.endWidget() %}

            {% set div = this.beginWidget(
                    'EntityFxDivControlGroup',
                    {
                        'class' : 'control-group',
                        'form' : form,
                        'model' : model,
                        'attribute' : 'commitPassword'
                    }
                )
            %}
                {{ form.label(model,'code',{'class' : 'control-label input-mini'}) }}
                <div class="controls">
                    {{ form.textField(model,'code',{'class' : 'input-mini', 'maxlength' : '6'}) }}
                    <span class="help-inline required">*</span>
                    {{ form.error(model,'code',{'class' : 'help-inline'}) }}
                </div>
            {% do this.endWidget() %}
                
            <hr/>
            <div class="control-group">
                {{ form.label(model,'name',{'class' : 'control-label input-mini'}) }}
                <div class="controls">
                    {{ form.textField(model,'name',{'class' : 'input-xlarge'}) }}
                </div>
            </div>
            <div class="control-group">
                {{ form.label(model,'surname',{'class' : 'control-label input-mini'}) }}
                <div class="controls">
                    {{ form.textField(model,'surname',{'class' : 'input-xlarge'}) }}
                </div>
            </div>
            <div class="control-group">
                {{ form.label(model,'secondName',{'class' : 'control-label input-mini'}) }}
                <div class="controls">
                    {{ form.textField(model,'secondName',{'class' : 'input-xlarge'}) }}
                </div>
            </div>
            <div class="form-actions">
                {{ C.Html.submitButton('Зарегистрироваться',{'class' : 'btn btn-large btn-primary'}) }}
            </div>
        </fieldset>
    {% do this.endWidget() %}
{% endblock %}