{% extends "views/layouts/container.master.twig" %}

{% block script %}
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function() {
            $("#item").focus();

            $("#submit_item").click(function(){
                location.replace("/bug/show/"+$("#item").val()+"/");
                return false;
            });

            {% if projectsList == none %}
                $("#project_id").change(function(){
                    $("#selectProjectForm").submit();
                });
            {% endif %}
        });
        /* ]]>*/
    </script>
{% endblock %}

{% block info %}

<div class="main-toolbar-group btn-toolbar well well-small">
    <div class="btn-group">
        <form class="form-inline" id="selectProjectForm" action="#">
            {{C.Html.label('Текущий проект','project_id')}}
            {{C.Html.dropDownList(
                    'project_id',
                    App.user.defaultProjectId,
                    this.userProjectsListData,
                    {
                        'disabled' : this.userProjectsListData == none
                    }
                )
            }}
        </form>
    </div>
    <div class="btn-group">
        {% if this.userProjectsListData != none %}
            <a class="btn btn-primary" href="{{ this.createUrl("item/add") }}" title="Создать новый дефкт/задачу">Создать элемент</a>
        {% endif %}
        <a class="btn btn-primary" href="{{ this.createUrl("project/add") }}" title="Создать новый проект">Создать проект</a>
    </div>
    <div class="btn-group">
        <form class="form-inline" action="#">
            <label for="item">Переход к №</label>
            <input class="input-mini" id="item" type="text" name="item" maxlength="8">
            <input type="submit" value="OK" id="submit_item" class="btn" />
        </form>
    </div>
</div>
{% endblock %}

{% block menu %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Tarakaning</a>
            <div class="btn-group pull-right">
                <a class="btn" href="{{ this.createUrl("profile/index") }}">
                    <i class="icon-user"></i>
                    {{App.user.name}}
                </a>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ this.createUrl("profile/edit") }}">
                            <i class="icon-cog"></i>
                            Настройки
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ this.createUrl("auth/logout") }}">
                            <i class="icon-off"></i>
                            Выход
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{ this.createUrl("project/index") }}">Проекты</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Элементы
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/my/bugs/">Мои элементы</a></li>
                            <li><a href="/my/project/bugs/">Элементы проекта</a></li>
                        </ul>
                    </li>
                    <li><a href="/requests/">Заявки</a></li>
                    <li><a href="/search/">Поиск</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}