{% extends "views/layouts/content.master.twig" %}

{% block body %}
    {{ C.Html.errorSummary(model,
                '<div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>',
                '</div>'
            )
    }}
    {% set form = this.beginWidget(
        'bootstrap.widgets.TbActiveForm',
        {
            'id' : 'register-form',
            'enableClientValidation' : true,
            'enableAjaxValidation' : false,
            'clientOptions' : {
                'validateOnSubmit' : true
            },
            'type' : 'horizontal',
            'method' : 'post',
            'action' : C.Html.normalizeUrl(
                ['project/add']
            ),
            'errorMessageCssClass' : 'error'
        }
    )
    %}
        <fieldset>
            <legend>Создание нового проекта</legend>
            {{ form.textFieldRow(model, 'projectName') }}
            {{ form.textAreaRow(model, 'projectDescription', { 'class' : 'input-xxlarge', 'rows' : 7 }) }}
            <div class="form-actions">
                {{ void(this.widget('bootstrap.widgets.TbButton', { 'buttonType' : 'submit', 'type' : 'primary', 'label' : 'Сохранить' })) }}
                {{ void(this.widget('bootstrap.widgets.TbButton', { 'buttonType' : 'reset', 'label' : 'Сброс' })) }}
            </div>
        </fieldset>
    {% do this.endWidget() %}
{% endblock %}